<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>
    <brokerData>
        <baseUrl>https://gdcdyn.interactivebrokers.com/Universal/servlet/</baseUrl>
        <token>4839813975419121231246</token>
        <monthlyQueryId>53442134</monthlyQueryId>
        <apiVersion>3</apiVersion>
    </brokerData>
</configuration>